<div class="row">
    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
        <nb-card size="xsmall" class="solar-card">
            <nb-card-header>Casamiento Paez -Posse</nb-card-header>
            <nb-card-body>
                <div class="info">
                    <div class="">Dia 12/03/2018</div>
                    <div class="">Salon Los Lapachos</div>
                    <div class="">200 invitados</div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
        <nb-card size="xsmall" class="solar-card">
            <nb-card-header>Casamiento Franchese - Ruiz</nb-card-header>
            <nb-card-body>
                <div class="info">
                    <div class="">Dia 13/03/2018</div>
                    <div class="">Salon Los Lapachos</div>
                    <div class="">150 invitados</div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
        <nb-card size="xsmall" class="solar-card">
            <nb-card-header>15 Años Fiorella Sarria</nb-card-header>
            <nb-card-body>
                <div class="info">
                    <div class="">Dia 19/03/2018</div>
                    <div class="">Salon Los Lapachos 2</div>
                    <div class="">180 invitados</div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
        <nb-card size="xsmall" class="solar-card">
            <nb-card-header>Evento familiar Nuñez Piosek</nb-card-header>
            <nb-card-body>
                <div class="info">
                    <div class="">Dia 26/03/2018</div>
                    <div class="">Salon Los Lapachos</div>
                    <div class="">120 invitados</div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
        <nb-card size="xsmall" class="solar-card">
            <nb-card-header>Hacer -> Mostrar la temperatura</nb-card-header>
            <nb-card-body>
                <div class="info">
                    <div class="">Mostrar info sobre el pronostico del tiempo</div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
        <nb-card size="xsmall" class="solar-card">
            <nb-card-header>Hacer -> Mostrar Margen Ganancia Mensual</nb-card-header>
            <nb-card-body>
                <div class="info">
                    <div class="">Mostrar info sobre el Margen de ganancia mensual</div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
        <nb-card size="xsmall" class="solar-card">
            <nb-card-header>Hacer -> Mostrar Egresos Mensual</nb-card-header>
            <nb-card-body>
                <div class="info">
                    <div class="">Mostrar info sobre los egresos de la empresa</div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>

</div>