<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>Administrar Productos</nb-card-header>
            <nb-card-body>
                <toaster-container [toasterconfig]="config"></toaster-container>

                <div class="" [ngClass]="{'index': showPanel}">
                    <div class="col-lg-12" style="margin-bottom: 15px;">
                        <div class="input-group mail-btn-group">
                            <input type="text" [(ngModel)]="filtro" class="form-control" placeholder="Buscar...">
                          <span class="input-group-btn">
                            <button class="btn btn-primary btn-icon">
                                <i class="ion-search"></i>
                            </button>
                          </span>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <!--<ng2-smart-table [settings]="settings" [source]="clientes" (rowSelect)="onRowSelect($event)">
                        </ng2-smart-table>-->
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Punto Repo</th>
                                <th>Vendidos</th>
                                <th>Estado</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of productos " (click)="onRowSelect(item)">
                                <th scope="row">{{item.id}}</th>
                                <td>{{item.nombre}}</td>
                                <td>{{item.pto_repo}}</td>
                                <td>{{item.vendidos}}</td>
                                <td>{{item.status}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-primary" (click)="crear()">Nuevo</button>
                        <button type="reset" class="btn btn-danger" (click)="modificar()">Editar</button>
                        <button type="reset" class="btn btn-danger" (click)="changeStatus()">Activar/Desactivar</button>
                    </div>
                </div>
                <div class="" [ngClass]="{'panel': showIndex}">
                    <form role="form" [formGroup]="formContainer" novalidate (ngSubmit)="save()" accept-charset="utf-8">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input class="form-control" formControlName="nombre">
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label>pto_repo</label>
                                    <input type="number" class="form-control" formControlName="pto_repo">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>sku</label>
                                    <input type="text" class="form-control" formControlName="sku">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>status</label>
                                    <input type="number" class="form-control" formControlName="status">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>vendidos</label>
                                    <input type="number" class="form-control" formControlName="vendidos">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>destacado</label>
                                    <input type="number" class="form-control" formControlName="destacado">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>en_slider</label>
                                    <input type="number" class="form-control" formControlName="en_slider">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>en_oferta</label>
                                    <input type="number" class="form-control" formControlName="en_oferta">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>producto_tipo_id</label>
                                    <input type="number" class="form-control" formControlName="producto_tipo_id">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>iva</label>
                                    <input type="number" class="form-control" formControlName="iva">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>tiempo_espera</label>
                                    <input type="number" class="form-control" formControlName="tiempo_espera">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>descripcion</label>
                                    <input type="text" class="form-control" formControlName="descripcion">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <upload-component [img]='foto' #foto_uploader></upload-component>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                                <button type="reset" class="btn btn-danger" (click)="index()">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>