<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>Administrar Clientes</nb-card-header>
            <nb-card-body>
                <toaster-container [toasterconfig]="config"></toaster-container>

                <div class="" [ngClass]="{'index': showPanel}">
                    <div class="col-lg-12" style="margin-bottom: 15px;">
                        <div class="input-group mail-btn-group">
                            <input type="text" [(ngModel)]="filtro" class="form-control" placeholder="Buscar...">
                          <span class="input-group-btn">
                            <button class="btn btn-primary btn-icon">
                                <i class="ion-search"></i>
                            </button>
                          </span>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <!--<ng2-smart-table [settings]="settings" [source]="clientes" (rowSelect)="onRowSelect($event)">
                        </ng2-smart-table>-->
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Apellido</th>
                                <th>Nombre</th>
                                <th>Direccion</th>
                                <th>Telefono</th>
                                <th>Estado</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of clientes " (click)="onRowSelect(item)">
                                <th scope="row">{{item.id}}</th>
                                <td>{{item.apellido}}</td>
                                <td>{{item.nombre}}</td>
                                <td>{{item.direccion}}</td>
                                <td>{{item.telefono}}</td>
                                <td>{{item.estado_cliente_id == 1 ? 'Activo' : 'Inactivo'}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-primary" (click)="crear()">Nuevo</button>
                        <button type="reset" class="btn btn-danger" (click)="modificar()">Editar</button>
                        <button type="reset" class="btn btn-danger" (click)="changeStatus()">Activar/Desactivar</button>
                    </div>
                </div>
                <div class="" [ngClass]="{'panel': showIndex}">
                    <admin-cliente [cliente]="objCliente" (Estado)="getEstado($event)"></admin-cliente>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>