<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>Administrar Eventos</nb-card-header>
            <nb-card-body>
                <div class="" [ngClass]="{'index': showPanel}">
                    <div class="col-lg-12">
                        <ng2-smart-table [settings]="settings" [source]="eventos" (rowSelect)="onRowSelect($event)">
                        </ng2-smart-table>
                    </div>
                    <div class="col-lg-12 margin-default">
                        <button type="submit" class="btn btn-primary" (click)="crear()">Nuevo</button>
                        <button type="reset" class="btn btn-primary" (click)="modificar()">Editar</button>
                        <button type="reset" class="btn btn-danger" (click)="changeStatus()">Activar/Desactivar</button>
                    </div>
                </div>
                <div class="" [ngClass]="{'panel': showIndex}">
                    <admin-eventos [cliente]="objCliente" [evento]="objEvento" (Estado)="getEstado($event)"></admin-eventos>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>